#contact-section {
    width: 100%;
    text-align: center;
    /* background-color: grey; */
}
#contact-col {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact-header-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#contact-body-wrap {
    width: 40%;
}
