.nav-wrapper {
    height: 5vh;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    /* width: 95%; */
}

#logo-wrapper {
    height: 5vh;
}

nav {
    width: 30%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.hover-this {
    transition: all 0.3s ease;
}
.hover-this :hover {
    color: var(--gold-text-color);
    font-weight: 600;
}

span {
    display: inline-block;
    font-weight: 600;
    color: var(--white-text-color);
    /* pointer-event: none; */
    transition: transform 0.1s linear;
}

/* For mobile view */

#mobile-nav {
    display: none;
}
#hamburger {
    display: none;
}
.bar {
    display: none;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
    nav {
        display: none;
    }
    #logo-wrapper {
        height: 3vh;
    }
    .nav-wrapper {
        padding: 1rem 2rem;
    }

    /* For mobile view */

    #mobile-nav {
        position: absolute;
        display: block;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        z-index: 2;
        top: calc(5vh + 2rem);
        left: -105vw;
        background-color: var(--bg-shade-1);
        width: 100vw;
        height: 105vh;
    }
    #mobile-nav.active {
        left: 0;
    }
    #sidebar-wrapper {
        height: 100%;
        padding: 0 5vw;
        justify-content: space-between;
    }

    #hamburger {
        display: block;
        position: relative;
        height: 20px;
        width: 30px;
    }
    .nav-element {
        margin: 2vh 0;
    }
    .link-wrapper {
        height: 40%;
        align-items: flex-start;
        justify-content: space-evenly;
        padding: 0 5vw;
    }
    .sidebar-icon-row {
        /* background-color: yellow; */
    }
    .bar {
        display: block;
        position: absolute;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: white;
        border: 2px solid rgba(246, 247, 249, 1);
        border-radius: 2px;
        width: 8px;
    }
    #bar-1 {
        width: 50%;
        top: 0;
        right: 0;
    }
    #bar-2 {
        width: 100%;
        top: 50%;
    }
    #bar-3 {
        width: 50%;
        top: 100%;
    }
    #hamburger.active .bar:nth-child(1) {
        transform: translateY(10px) translateX(-5px) rotate(45deg);
    }

    #hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    #hamburger.active .bar:nth-child(3) {
        transform: translateY(-10px) translateX(5px) rotate(-45deg);
    }
}
