#about-section {
    height: 88vh;
    justify-content: space-between;
}

#about-section-wrap {
    justify-content: space-between;
    width: calc(100% - 2 * var(--section-horizontal));
}

#about-content-wrap {
    width: 40%;
    text-align: left;
    align-items: flex-start;
}

#uiux-header {
    font-weight: 600;
}
#intro-text {
    font-weight: 500;
    color: var(--grey-text-color);
}
